//Fonts
$fjalla: 'Fjalla One', sans-serif;
$average: 'Average', serif;
//Font usage
$font--headings: $fjalla;
$font--body: $average;
//Colors
$sunshade: #fd9b29;
$tundora: #444444;
$gallery: #eaeaea;
$silver: #bcbcbc;
$boston-blue: #3899b9;
$white: #FFF;
//Color usage
$bg-color: $white;
$dark-bg-color: $tundora;
