body {
    font-family: $font--body;
}
h1,h2,h3 {
    font-family: $font--headings;
}
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.wrapper {
    width: 100%;
    background-color: $bg-color;
    @include m(bg-dark) {
        background-color: $dark-bg-color;
        color: #FFF;
    }
}

.content-section {
    padding: 125px 0;
}
